# https://pip.pypa.io/en/stable/user_guide/#requirements-files
# use it to install dependencies with
# `pip install -r requirements.txt`
pip
matplotlib
numpy
imageio
torch
torchvision
pandas
requests
sklearn
scipy
seaborn